#story {
    display: none;
  }
  .move-right{
   
  }
.color{
  background-color: rgb(237, 237, 237);
}  
.btn{
  background-color: black;
  color: white;
}



/* background-color: rgb(47, 43, 43); */